:root {
    --col-primary-400: hsl(47 88% 63%);

    --col-neutral-100: hsl(0 0% 100%);
    --col-neutral-400: hsl(0 0% 50%);
    --col-neutral-900: hsl(0 0% 7%);

    --font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: var(--font-family);
    color: var(--col-neutral-900);
    margin: 0;
    padding: 0;
    background: var(--col-primary-400);
}

p {
    /* text-wrap: balance; */
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/* .design-overlay {
    background: url("../../public/mobile-design.jpg");
    background: url("../../public/desktop-design.jpg");
    opacity: 0.5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
} */


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.5rem;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--col-neutral-100);
    border: 1.5px solid var(--col-neutral-900);
    border-radius: 1.2rem;
    padding: 1.5rem;
    max-width: 100%;
    gap: 1rem;
    gap: clamp(1rem, 0.9647887323943661rem + 0.1502347417840377vw, 1.1rem);
    box-shadow: 0.5rem 0.5rem var(--col-neutral-900);
    max-width: 21rem;

    /* .card */
    & .img > img {
        height: 12.5rem;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    & .tag {
        /* margin-top: 0.25rem; */
        margin-top: 0.5rem;

        & a {
            background: var(--col-primary-400);
            text-decoration: none;
            font-weight: 800;
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6971830985915493rem + 0.22535211267605634vw, 0.9rem);
            padding: 0.5em;
            /* padding-inline: 0.5em; */
            padding-inline: 0.75em;
            border-radius: 0.5em;
        }
    }

    /* .card */
    & .date {
        /* margin-top: 1rem; */
        font-size: 0.9rem;
    }

    /* .card */
    & .title {
        /* margin-top: 1rem; */
        /* letter-spacing: 0.5px; */
        font-size: 1.2rem;
        font-size: clamp(1.2rem, 1.0943661971830985rem + 0.4507042253521127vw, 1.5rem);
        font-weight: 800;

        /* @media (min-width: 500px) {
            font-size: 1.5rem;
        } */

        & a:hover,
        & a:focus {
            color: var(--col-primary-400)
        }

    }

    /* .card */
    & .description {
        /* margin-top: 1rem; */
        color: var(--col-neutral-400);
        line-height: 1.5;
    }

    /* .card */
    & .author {
        /* margin-top: 1rem; */
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-top: 0.2rem;

        & img {
            height: 2rem;
            width: 2rem;
            object-fit: cover;
            /* border-radius: 0.5rem; */
        }

        & p {
            font-size: 0.85rem;
            font-weight: 800;
        }
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    color: var(--col-neutral-400);
    font-size: 0.75rem;
    background: var(--col-primary-400);

    @media (max-width: 375px) {
        flex-direction: column;
        align-items: center;
    }

    & a {
        color: var(--col-neutral-100);
    }
    
    & a:hover, a:active {
        color: var(--col-neutral-900);
    }
}